table {
  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
  border: 1px solid;
  border-radius: 10px;
}

thead th:nth-child(1) {
  height: 10px !important;
  width: 5%;
}

thead th:nth-child(2) {
  height: 10px !important;
  width: 20%;
}

thead th:nth-child(3) {
  height: 10px !important;
  width: 15%;
}

thead th:nth-child(4) {
  height: 10px !important;
  width: 15%;
}

thead {
  height: 10px !important;
  border: 1px solid;
}

th,
td {
  text-align: center;
  padding: 20px;
}