@if (errorMessage) {
  <small
    class="static-class"
    [class]="marginTopOverride"
    [ngClass]="{
      'mt-1': isMarginTopEnabled,
      'mb-2.5': isMarginBottomEnabled,
      'justify-center': isErrorMessageCentered
    }"
    class="flex items-center gap-1 text-secondary-red-color text-sm font-normal pl-1"
  >
    <!-- <span
      class="!text-red-500 text-[10px]"
      [matTooltip]="tooltip"
      class="material-symbols-outlined"
    >
      error
    </span> -->
    <p class="text-red-500 text-xs font-medium font-roboto">
      {{
        label ? label : errorMessage ? errorMessage : "This field is required"
      }}
    </p>
  </small>
}
