// Import this file in style.scss.

:root {
  --primary-background-color: #ffffff;
  --primary-text-color:#444242;
  --secondary-background-color: #332e2e;
  --primary-green-color: #388818;
  --primary-white-color: #ffffff;
}